.card {
    display: flex;

    border-radius: var(--border-radius);

    background-color: white;

    box-shadow: var(--box-shadow);

    width: 700px;
    margin-bottom: 40px;
}

.card-reverse {
    flex-direction: row-reverse;
}

.card--image {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    width: 50%;

    transition-property: width;
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
}

.card--image:hover {
    width: 60%;

    cursor: pointer;
}

.card--image-reverse {
    border-radius: 0px var(--border-radius) var(--border-radius) 0px;
}

.card--menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    margin: 0 auto;
    padding: 20px;
}

.card--menu--description {
    color: var(--font-color-grey);
    font-family: sans-serif;
}

.card--menu--price {
    color: var(--accent-color-green);
    font-size: 24px;
}

.card--menu--button {
    color: white;
    background-color: var(--accent-color-green);
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 0;
}

.card--menu--button:hover {
    background-color: var(--accent-color-darkGreen);
    cursor: pointer;
}

.card--menu--button:active {
    background-color: var(--accent-color-darkGreen);
    transform: scale(0.99);
    transform: translate(1px, -1px);
}