main > h1 {
    font-size: 64px;
}

main > img {
    padding: 10px;
    border-radius: 20px;
}

main > p {
    letter-spacing: 1px;
    margin-bottom: 20px;
}

main > button {
    border-radius: 8px;
    padding: 10px 20px;

    background-color: gold;
}

