main > h1 {
    font-size: 64px;
}

.home--image {
    padding: 10px;
    border-radius: var(--border-radius);
    width: 600px;
}

main > p {
    letter-spacing: 1px;
    margin-bottom: 20px;
    width: 400px;
}

main > button {
    border-radius: var(--border-radius);
    padding: 20px 20px;
    font-size: 20px;

    background-color: var(--accent-color-green);
    color: white;
}

