:root {
    --bg-color-paper: rgb(242 233 226);

    --accent-color-green: rgb(61 128 104);
    --accent-color-darkGreen: rgb(52, 109, 89);

    --font-color-black: rgb(0, 0, 0, 0.9);
    --font-color-grey: rgb(0, 0, 0, 0.7);

    --border-radius: 20px;

    --box-shadow: 1px 1px 4px grey;
}

@font-face {
    font-family: 'Anime';
    src: url('./animeFont.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Anime', sans-serif;
}

body {
    height: 100vh;
}

#content {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: var(--bg-color-paper);

    color: var(--font-color-black);
}

nav {
    height: 70px;
    border-bottom: 2px solid var(--accent-color-green);

    display: flex;
    justify-content: center;
    align-items: center;
}


    ul {
        display: flex;
        justify-content: center;
        gap: 34px;

        height: 20px;

        font-size: 22px;
        list-style: none;
    }
    
    li:hover {
        border-bottom: 2px solid var(--accent-color-green);
        line-height: 1px;
        cursor: pointer;
    }

main {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


footer {
    padding: 10px;

    border-top: 2px solid var(--accent-color-green);

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

    footer > p {
        font-family: sans-serif;
    }
    .gitLogo {
        width: 40px;
    }