* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}

#content {
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-image: url(./restaurantFront.jpg);
    background-size: cover;

    color: white;
}

nav {
    padding: 30px;
    border-bottom: 2px solid gold;
}

    ul {
        display: flex;
        justify-content: center;
        gap: 34px;

        font-size: 18px;
        list-style: none;
    }

    img {
        width: 40%;
    }

main {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer {
    padding: 30px;
    border-top: 2px solid gold;

    text-align: center;
}